@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<a href="#">Ana Sayfa</a>

@Html.ActionLink("urunler","Liste","Urun")

<a asp-controller="Urun" asp-action="Liste">Urun Liste</a>

